*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#dummy{
    display: none;
    background-image: url(bali.jpg),url(background_img.jpg),url(fuji.jpg),url(nami.jpg),url(shirakawa.jpg);
}


.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    animation-name: backImg;
    animation-duration: 50s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.logo{
    width: 180px;
    cursor: pointer;
}

.navbar{
    width: 90%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    color: #fbfcfd;
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.45s;
    transition-timing-function: ease;
    
}

.out{
    color: #ff0000;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.45s;
    transition-timing-function: ease;
    border: 1px solid rgb(255, 0, 0);
}

.out:hover{
    background-color: red;
    color:white;
}

.button:hover{
    background-color: white;
    color:black;
}

.buttonWB{
    color: #ffa51d;
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid #ffa51d;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.45s;
    transition-timing-function: ease;
    
}

.buttonWB:hover{
    background-color: #ffa51d;
    border: 1px solid #ffa51d;
    color:black;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    animation: drop 1.25s ease;
}

@keyframes drop{
    0%{opacity: 0;transform: translateY(-70%); }
    100%{opacity: 1;transform: translateY(-50%);}
}

h1.nothead{
    font-size: 65px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.sidebar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#c27e01,#00395f);
    opacity: 70%;
    position:absolute;
    right: 0;
    top: 0;
}

.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

.menu:hover{
    transform: rotateY(360deg);
}

.social img, .useful img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social {
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.useful{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 5%;
}

@keyframes backImg{
    0%{background-image: url(background_img.jpg),url(fuji.jpg); animation-delay: 2s; }
    20%{background-image: url(fuji.jpg),url(nami.jpg); animation-delay: 3s;}
    40%{background-image: url(nami.jpg),url(shirakawa.jpg); animation-delay: 3s;}
    60%{background-image: url(shirakawa.jpg),url(bali.jpg); animation-delay: 3s;}
    80%{background-image: url(bali.jpg); animation-delay: 3s;}
    100%{background-image: url(background_img.jpg);}
}

.LoginBack{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-image: url(background_img.jpg);
}

.SearchBack{
    padding-top: 30px;
    background-image: url(background_img.jpg);
    min-height: 50vh;
    max-height: 100vh;
    background-size:cover;
}

.SearchCard{
    border-radius: 10px;
    margin-top: 90px;
    margin-left: 300px;
    background-color: #fff;
    width:60%;
    height: 20vh;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.hotelcard{
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 350px;
    background-color: #fff;
    width:50%;
    height: 20vh;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-right: 45px;
    box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.64);
    -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.64);
}

.LoginCard{
    background-color: #fff;
    height: 100vh;
    width: 40%;
    text-align: center;
    padding-top: 230px;
}

.RegisCard{
    position: absolute;
    background-color: #fff;
    left: 60%;
    height: 100vh;
    width: 40%;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 10px;
}

.curvebox{
    border-radius: 20px;
    border: 1px solid #b6b6b6;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.curvebox:focus{
    border: 1px solid #ffa51d;
    border-radius: 20px;
    outline: none;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rbutton:checked{
    color: #ffa51d;
}

.StoR{
    position: absolute;
    text-decoration: none;
    transform: translate(240px,-120px);
    font-size: 50px;
    color:#b6b6b6 ;
    transition-timing-function: ease;
}

.RtoS{
    position: absolute;
    text-decoration: none;
    left: 1%;
    top: 350px;
    font-size: 50px;
    color:#b6b6b6 ;
    transition-timing-function: ease;
}

.RtoS:hover span{
    display:none;
    cursor: pointer;
}

.RtoS:hover:before{
    position: absolute;
    color:#ffa51d ;
    cursor: pointer;
    content: "Login";
    font-size: 20px;
    left: 15px;
    top: 25px;
}

.StoR:hover span{
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    display:none;
    transform: translate(240px,-120px);
    font-size: 50px;
    color:#ffa51d ;
    transition-timing-function: ease;
}

.StoR:hover:before{
    position: absolute;
    content: "Register";
    cursor: pointer;
    text-decoration: none;
    transform: translate(-75px,25px);
    font-size: 20px;
    color:#ffa51d ;
    transition-timing-function: ease;
}

.labelcon{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.long{
    width: 250px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    padding-right: 50px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }

  .col-60 {
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  .gotodash{
    position:absolute;
    color:white;
    right:230px;
    font-size: 20px;
    text-decoration: none;
  }

  .gotodash:hover{
   text-decoration: underline;
   color: cornflowerblue;
  }
